{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>TICKETS | Login Page</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="{% static 'assets/css/default/app.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/default/theme/purple.min.css' %}" rel="stylesheet" id="theme">
	<!-- ================== END BASE CSS STYLE ================== -->
</head>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin login -->
		<div class="login login-with-news-feed">
			<!-- begin news-feed -->
			<div class="news-feed">
				<div class="news-image" style="background-image: url(/static/assets/img/login-bg/feliz.png)"></div>
				<div class="news-caption">
					<h4 class="caption-title"><b>SOPORTE</b> Uwigo</h4>
					<p>
						Plataforma de administración de tickets.
					</p>
				</div>
			</div>
			<!-- end news-feed -->
			<!-- begin right-content -->
			<div class="right-content">
				<!-- begin login-header -->
				<div class="login-header">
					<div class="brand">
						<span class="logo"></span> <b>SISTEMA</b> tickets
						<small>Iniciar Sesión</small>
					</div>
					<div class="icon">
						<i class="fa fa-sign-in-alt"></i>
					</div>
				</div>
				<!-- end login-header -->
				<!-- begin login-content -->
				<div class="login-content">

                    <form id="f-login" method="POST" class="margin-bottom-0">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.username }}
                            <div class="container-error">
                                {{ form.username.errors|striptags }}
                            </div>
                        </div>
                        <div class="form-group m-b-0">
                            {{ form.password }}
                            <div class="container-error">
                                {{ form.password.errors|striptags }}
                            </div>
                        </div>
    
                        <br>
                        <div class="login-buttons">
                            <button type="button" class="btn btn-primary btn-block btn-md sesion" data-action="submit">Iniciar Sesión</button>
                        </div>
                       
                    </form>
				
				</div>
				<!-- end login-content -->
			</div>
			<!-- end right-container -->
		</div>
		<!-- end login -->

		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->

	<!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/4.1.3/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'assets/plugins/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'assets/js/app.min.js' %}"></script>
    <script src="{% static 'assets/js/theme/default.min.js' %}"></script>
    
	
	<!-- ================== END BASE JS ================== -->


    <script type="text/javascript">

        $(document).ready(function() {
            $('[data-action="submit"]').on('click', function() {
                $('#f-login').submit()
            })

            $('#f-login').on('keypress', function(e) {
                if (e.keyCode == 13) {
                    $('#f-login').submit()
                    event.preventDefault();
                    return false;
                }
            });

            $('#f-login [name="username"]').keyup(function(){
                $(this).val( $(this).val().toLowerCase())
            })
        });

    </script>
</body>
</html>
