{% extends 'base.html' %}
{% block content %}


  
  <!-- begin #content -->
  <div id="content" class="content" style="min-height: 100vh; background: url(static/assets/img/cover/cover-scrum-board.png) no-repeat fixed; background-size: 360px; background-position: right bottom;">
    <div class="d-flex align-items-center mb-md-3 mb-2">
      <!-- begin page-header -->
      <h1 class="page-header mb-0">
        LISTA DE TICKET
      </h1>
      <!-- end page-header -->
      {% if  perms.tickets.add_ticket%}
      <div class="ml-auto">
        <a href="#modalAddTask" data-toggle="modal" class="btn btn-success btn-sm btn-rounded pl-2 pr-3"><i class="fa fa-plus mr-1"></i> Nuevo Ticket</a>
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-md-12">
          <div class="panel panel-inverse">
            <div class="panel-heading">
              <h4 class="panel-title">Ticket</h4>
              <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
              </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                      <table id="t-tickets" class="table table-striped table-bordered" style="width: 100%!important"></table>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>
    
    <div class="modal fade" id="modalAddTask">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <form id="f-ticket" role="form" action="{% url 'ticket:ticket_new' %}"  method="post" data-parsley-validate="true">
            {% csrf_token %}
            <div class="modal-body">
              <div class="img-modal">
                <img src="/static/assets/img/modal/mticket.png" class="media-object rounded-corner">
              </div>
              <div class="form-group">
                <label>Title</label>
                {{form.titulo}} 
              </div>

              <div class="form-group">
                <label>Estado</label>
                {{form.estado}} 
              </div>

              <div class="form-group">
                <label>Descrición</label>
                {{form.descripcion}} 
              </div>
            </div>
            <div class="modal-footer">
              <a href="#" class="btn btn-white" data-dismiss="modal">Cancel</a>
              <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
        </form>
      
        </div>
      </div>
    </div>
  </div>
  <!-- end #content -->
  
  
  <!-- begin scroll to top btn -->
  <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
  <!-- end scroll to top btn -->



  	
<style>
.img-modal img {
    margin: 0 auto;
    display: block;
    max-width: 125px;
    margin-top: -75px;
}

.modal-header {
    min-height: 90px;
    justify-content: flex-end;
    background: rgba(29, 97, 178, 0.2);
}
</style>
{% endblock content %}

{% block script %}
<script>

$(document).ready(function() {
  tickets = LoadTable.init({
		'id'         : '#t-tickets',
		'order'      : [1, 'asc'],
		'responsive' : true,
	  'ajax': {
		        url: "{% url 'ticket:get_ticket'%}",
		},
	  'deferRender': true,
		'buttons': [],
		'columns': [
		{
				'data': 'id',
				'title': 'ID',
				'visible': false,
		},
		{
				'data': 'titulo',
				'title': 'Título',
				'width': '30%',
		},
		{
				'data': 'descripcion',
				'title': 'Descripción',
				'width': '15%',
        'visible': false,
		},
    {
				'data': 'estado',
				'title': 'Estado',
				'width': '15%',
		},
    {
				'data': 'tiempo_creacion',
				'title': 'Días Creación',
				'width': '15%',
		},
		],

    
		'columnDefs': [
        {
          'targets': [1],
          render: function (data, type, full, meta) {
              var btns = '';
              btns += '<div class="flex-fill">'
              btns += '<div class="f-s-13 f-w-600 text-inverse">'+full.titulo+'</div>'
              btns += '<div class="mb-1 f-s-12">'
              btns += '<div class="text-inverse-lighter flex-1">#'+full.id+' generado por '+'{{request.user.username}}'+'</div>'
              btns += '<div class="text-inverse-lighter flex-1"></div>'+full.descripcion+'</div>'
              btns += '<div class="mb-1">'
              btns += '<span class="label label-primary">docs</span> ' 
              btns += '<span class="label label-success">feature</span>'
              btns += '</div>'
              btns += '<hr class="m-b-10"/>'
              btns += '</div>'
              return btns

          }
        },
		    {
          'targets': [3],
          render: function (data, type, full, meta) {
              var estados = ['Abierto', 'Pendiente', 'En Proceso', 'Resuelto', 'Cerrado']
              var btns = '';
              btns +='<div class="mr-3 f-s-16">'
              if (data == 1 || data == 2){
                btns +='<i class="fa fa-bug text-danger fa-fw"></i><span class="f-s-12">'+ estados[data-1]+'</span></div>'
              }
              else if (data == 3){
                btns +='<i class="fa fa-tools text-muted fa-fw"></i><span class="f-s-12">'+ estados[data-1]+'</span></div>'
              }
              else{
                btns +='<i class="far fa-check-circle text-success fa-fw"></i><span class="f-s-12">'+ estados[data-1]+'</span></div>'
              }
              
              return btns

          }
        },
        {
          'targets': [4],
          render: function (data, type, full, meta) {
              var btns = '';
              btns +='<div class="mr-3 f-s-16">'
              var btns = '';
              if (full.estado == 1 || full.estado == 2){
                btns += '<div class="d-flex align-items-center m-b-5">'
                btns +='<div class="f-s-12 d-flex align-items-center text-inverse f-w-600">Días ('+ data+')</div>'
                btns += '<div class="progress progress-xs width-100 mb-0 ml-2 mr-2">'
                btns += '<div class="progress-bar progress-bar-striped bg-danger" style="width: 5%;"></div>'
                btns += '</div>'
                btns += '<div class="f-s-10">0%</div>'
                btns += '</div>'
              }
              else if (full.estado  == 3){
                btns += '<div class="d-flex align-items-center m-b-5">'
                btns +='<div class="f-s-12 d-flex align-items-center text-inverse f-w-600">Días ('+ data+')</div>'
                btns += '<div class="progress progress-xs width-100 mb-0 ml-2 mr-2">'
                btns += '<div class="progress-bar progress-bar-striped bg-warning" style="width: 100%;"></div>'
                btns += '</div>'
                btns += '<div class="f-s-10">50%</div>'
                btns += '</div>'
              }
              else{
                btns += '<div class="d-flex align-items-center m-b-5">'
                btns +='<div class="f-s-12 d-flex align-items-center text-inverse f-w-600">Días ('+ data+')</div>'
                btns += '<div class="progress progress-xs width-100 mb-0 ml-2 mr-2">'
                btns += '<div class="progress-bar progress-bar-striped bg-success" style="width: 100%;"></div>'
                btns += '</div>'
                btns += '<div class="f-s-10">100%</div>'
                btns += '</div>'
              }
              
              return btns

          }
        },
		 
        ]
	})

  $('#f-ticket').submit(function(e) { 
        console.log(e)
        e.preventDefault();
        if ( $(this).parsley().isValid() ) {
          $("#f-ticket").ajaxSubmit({
            dataType: 'json',
            success: function(response) {
                location.reload();
            },
            error: function(data, a, t) {
              alert('ERROR')
            }
          });     
        }
    });

});

var LoadTable = function() {
    "use strict";
    return {
        //main function
        init: function(config) {
            var table;
            var language = {
                "decimal": "-",
                "thousands": ".",
                'emptyTable': 'Sin Datos',
                'info': 'mostranto _END_ de _TOTAL_ registros',
                'infoEmpty': '0-0 de 0',
                'infoFiltered': '',
                'infoPostFix': '',
                'lengthMenu': '_MENU_',
                'loadingRecords': 'Cargando...',
                'processing': 'Procesando...',
                'search': '',
                'searchPlaceholder': 'Buscar',
                'zeroRecords': 'No se encontraron registros',
                'paginate': {
                    'first': 'Primero',
                    'last': 'Último',
                    'next': 'Próximo',
                    'previous': 'Anterior'
                }
            };

      var buttons = [
        {
          extend: 'excel'
        },
        {
          extend: 'pdf'
        },
      ];

      if ($.fn.DataTable.isDataTable(config.id)) {
        table = $(config.id).DataTable();
        table.destroy();
        $(config.id).empty()
      }
      if (config.structure != undefined && $(config.id).length > 0) {
        $(config.id).append(config.structure.tfoot)
      }

      if ($(config.id).length !== 0) {
        table = $(config.id).DataTable({
          language: language, // lenguaje
          data: config.data == null ? false : config.data, // filas
          ajax: config.ajax == null ? false : config.ajax,
          deferRender: config.deferRender == null ? false : config.deferRender,
          order: config.order == null ? [
            [0, 'asc']
          ] : config.order, // columna a ordenar
          info: config.info == null ? true : config.info, // info
          responsive: config.responsive == null ? true : config.responsive,
          stateSave: config.stateSave == null ? true: config.stateSave,
          columns: config.columns == null ? [] : config.columns, // columnas
          columnDefs: config.columnDefs == null ? [] : config.columnDefs,
          paginate: config.paginate == null ? true : config.paginate, // paginador
          pageLength: config.pageLength == null ? 10 : config.pageLength, // elementos a mostar por defecto
          bLengthChange: config.bLengthChange == null ? true : config.bLengthChange, // elementos a mostrar
          searching: config.searching == null ? true : config.searching, // buscar
          ordering: config.ordering == null ? true : config.ordering, // ordenar
          drawCallback: config.drawCallback == null ? function(){} : config.drawCallback,
          pagingType: config.pagingType == null ? 'simple_numbers' : config.pagingType,
          dom: '<"top"lf<"btn-search">B><"form-search">rt<"bottom"ip>',
          buttons: config.buttons == null ? buttons : config.buttons,
          footerCallback: config.footerCallback == null ? function() {} : config.footerCallback,
        });
      }
      return table
    }
  };
}();


</script>
{% endblock %}