<!DOCTYPE html>
{% load static %}
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>TICKETS | Principal Page</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="Sistema SOPORTE" name="description" />
    <meta content="uwigo" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/logos/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="{% static 'assets/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/bootstrap/4.1.3/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/font-awesome/5.3/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/default/app.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/default/theme/purple.min.css' %}" rel="stylesheet" id="theme">
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    
    <link href="{% static 'assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/jquery-steps/jquery.steps.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/switchery/switchery.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/powerange/powerange.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/gritter/css/jquery.gritter.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/toastr/toastr.css' %}" rel="stylesheet" />



    {% block style %}
    {% endblock %}

</head>

<body>

    <!-- begin #page-loader -->
    <div id="page-loader" class="fade show"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->
    <div id="page-container" class="page-container fade page-without-sidebar page-header-fixed page-with-top-menu">

        <!-- begin #header -->
        {% include 'partial/top-bar.html' %}
        <!-- end #header -->

        <!-- begin #top-menu -->
        {% block nav %}
        {% endblock %}
        <!-- end #top-menu -->


        <!-- begin #content -->
        <div id="content" class="content">
            {% block content %}
            {% endblock %}
        </div>
        <!-- end #content -->

        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
        {% include 'partial/footer.html' %}

    </div>
    <!-- end page container -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{% static 'assets/plugins/bootstrap/4.1.3/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/plugins/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
   
    <script src="{% static 'assets/js/app.min.js' %}"></script>
    <script src="{% static 'assets/js/theme/default.min.js' %}"></script> 
    <!-- ================== END BASE JS ================== -->

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{% static 'assets/plugins/jquery-form/jquery.form.js' %}"></script>
    <script src="{% static 'assets/plugins/DataTables/media/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/DataTables/extensions/Buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'assets/plugins/DataTables/extensions/Buttons/js/jszip.min.js' %}"></script>
    <script src="{% static 'assets/plugins/DataTables/extensions/Buttons/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/plugins/DataTables/extensions/Buttons/js/vfs_fonts.min.js' %}"></script>
    <script src="{% static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'assets/plugins/DataTables/extensions/Buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/plugins/DataTables/extensions/Date-uk/date-uk.js' %}"></script>
    <script src="{% static 'assets/plugins/sweetalert2/sweetalert2.all.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/plugins/toastr/toastr.min.js' %}"></script>
    <script src="{% static 'assets/plugins/parsleyjs/dist/parsley.min.js' %}"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->



    {% block script %}
    {% endblock %}



</body>

</html>
