{% load static %}
<div id="header" class="header navbar-default">
    <!-- begin navbar-header -->
    <div class="navbar-header">
        <a href="/" class="navbar-brand"><span class="navbar-logo"></span> <b>UWIGO</b>  soporte</a>
    </div>
    <!-- end navbar-header -->
    <!-- begin header-nav -->
    <ul class="navbar-nav navbar-right">
     
        <li class="dropdown navbar-user">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="static/assets/img/user/user-13.jpg" alt="" /> 
                <span class="d-none d-md-inline">{{user.username}}</span> <b class="caret"></b>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="javascript:;" class="dropdown-item">Editar Perfil</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'authenticate:logout' %}" class="dropdown-item">Salir</a>
            </div>
        </li>
    </ul>
    <!-- end header-nav -->
</div>